html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sheet {
  position: relative;
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  border-color: #e0e2e6;
  padding: 16px;
}

.content-container {
  background-color: #fafbfb;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
}

.puzzle-builder-container {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
}

.puzzle-banner-container {
  display: flex;
  flex-direction: row;
}

.tiles-container {
  display: flex;
  flex-direction: column;
  outline-style: solid;
  outline-color: black;
  outline-width: 2px;
}

.puzzle-row {
  display: flex;
  flex-direction: row;
}

.tile {
  position: relative;
  display: flex;
  height: 35px;
  width: 35px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
}

.tile:hover {
  border-color: yellow !important;
  border-width: 4px !important;
  /*padding: -4px !important;*/
}

.tile--black {
  background-color: black;
}

.tile--black:hover {
  background-color: #666600 !important;
}

.tile--selected {
  border-width: 4px;
  border-color: rgb(45, 114, 210);
}

.tile--option {
  border-width: 3px;
  border-style: dashed;
  border-color: rgb(45, 114, 210);
}

.tile-contents {
  position: relative;
  user-select: none;
  pointer-events: none;
  font-size: 20px;
  margin: auto;
  top: 3px;
}

.tile-number {
  position: absolute;
  user-select: none;
  pointer-events: none;
  font-size: 10px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  width:400px;
  height: 597px;
}

.word-selector-container {
  display: flex;
  flex-direction: column;
}

.selector-comment {
  font-style: italic;
  margin: auto;
  margin-top: 10px;
}

.selector-add-word-text {
  position: relative;
  left: -5px;
  width: 0;
  margin-top: -5px;
  margin-bottom: 2px;
  font-size: 8px;
}

.word-bank-list-container {
  height: 416px;
  overflow-y: scroll;
  margin-bottom: 0;
}

.dragged-word {
  position: fixed;
  transform: translate(4px, -33px);
  pointer-events: none;
  z-index: 9999;
  user-select: none;
}

.tile-letter-options {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2px;
  height: 27px;
  width: 27px;
}

.tile-letter-options-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.tile-letter-options-letter {
  height: 9px;
  width: 9px;
  font-size: 10px;
  font-weight: bold;
  line-height: 0px;
  text-align: center;
}
