.landing-page-content-container {
  background-color: #fafbfb;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.upload-replay-gif {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 200px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;

  border: 3px dashed #90caf9;
  border-radius: 12px;
  cursor: pointer;

  background-color: #e3f2fd;

  transition: background-color 200ms ease-out, border 200ms ease-out;

  /* Correct for the padding from being in a list */
  position: relative;
  left: -20px;
}

.upload-replay-gif:hover {
  background-color: #bbdefb;
  border: 3px dashed #64b5f6;
}

.upload-replay-gif--accept {
  background-color: #c8e6c9;
  border: 4px dashed #a5d6a7;
}

.upload-replay-gif--reject {
  background-color: #ffcdd2;
  border: 4px dashed #ef9a9a;
}

.upload-replay-gif-text {
  margin: auto;
  margin-top: 12px;
}

.choose-a-gif:hover {
  text-decoration: underline;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.landing-page-header-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: 18px;
}

.landing-page-header {
  font-size: 52px;
  line-height: 1;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
}

.landing-page-subtitle {
  font-size: 18px;
  margin: auto;
  margin-top: -8px;
  color: rgb(1, 67, 97);
  text-align: center;
}

.landing-page-subheader {
  font-size: 28px;
  margin: auto;
}

.landing-page-sheet {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.landing-page-divider {
  margin: 16px;
  position: relative;
}

.landing-page-divider-or {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-page-list {
  margin-top: 8px;
  margin-bottom: 8px;
}
.landing-page-list > ::marker {
  font-size: 16px;
}

.landing-page-description {
  margin: auto;
  margin-bottom: 12px;
  font-style: italic;
  font-size: 16px;
}
