.puzzle-player-content-container {
  background-color: #fafbfb;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.puzzle-player-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}
